<section class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">一、填空题</h3>
    </div>

    <div class="panel-body row">

        <ol>
            <% topics.forEach(function(topic, i) { %>
            <li>

                <div class="form-group">

                    <label class="control-label"><%= topic.question %></label>

                    <div class="form-inline">
                        <% topic.options.forEach(function(option, k) { %>
                        <input class="form-control" name="fill_in_blank<%= i %>" type="text" value="<%= topic.value[k] %>"/>
                        <% }); %>
                    </div>

                </div>

            </li>
            <% }); %>

        </ol>

    </div>


</section>