<section>
    <h3>一、填空题</h3>
    <ol>
        <% topics.forEach(function(topic,i) { %>
        <li>
            <label><%= topic.question %></label>

            <% for(var k = 0; k < topic.options.length; k++) { %>
            <input name="fill_in_blank<%= i %>" type="text" value="<%=  topic.value[k] %>"/>
            <% } %>

        </li>
        <% }); %>

    </ol>
</section>