<section class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">一、填空题</h3>
    </div>

    <ol class="list-group">
        <% topics.forEach(function(topic, i) { %>
        <li class="list-group-item form-inline">
            <label><%= topic.question %></label>

            <div class="form-group">
                <% topic.options.forEach(function(option, k) { %>
                <input class="form-control" name="fill_in_blank<%= i %>" type="text" value="<%= topic.value[k] %>"/>
                <% }); %>
            </div>

        </li>
        <% }); %>

    </ol>

</section>