<header>
    <table>
        <tr>
            <td>
                <label>考试科目：</label>
                <strong> 统一建模语言 UML </strong>
            </td>
            <td>
                <label>时间： </label>
                <label>100 分钟 </label>
            </td>
            <td>
                <label>得分： </label>
                <label id="totalScore"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="grade">班 级：</label>
                <input name="grade" type="text" id="grade"/>
            </td>
            <td>
                <label for="studentId">学号：</label>
                <input name="studentId" type="text" id="studentId"/>
            </td>
            <td>
                <label for="studentName">姓名：</label>
                <input name="studentName" type="text" id="studentName"/>
            </td>
        </tr>
    </table>
</header>