<header>
    <table class="table table-hover">
        <tr>
            <td>
                <label>考试科目：</label>
                <strong> 统一建模语言 UML </strong>
            </td>
            <td>
                <label>时间： </label>
                <label>100 分钟 </label>
            </td>
            <td>
                <label>得分： </label>
                <label class="label label-danger" id="totalScore"><%= totalScore %></label>
            </td>
        </tr>
        <tr>
            <td class="form-group form-inline">
                <label for="grade">班 级：</label>
                <input class="form-control" name="grade" type="text" id="grade" value="<%= studentInfo.grade %>"/>
            </td>
            <td class="form-group form-inline">
                <label for="studentId">学号：</label>
                <input class="form-control" name="studentId" type="text" id="studentId" value="<%= studentInfo.studentId %>"/>
            </td>
            <td class="form-group form-inline">
                <label for="studentName">姓名：</label>
                <input class="form-control" name="studentName" type="text" id="studentName" value="<%= studentInfo.studentName %>"/>
            </td>
        </tr>
    </table>
</header>