<section>
    <h3>三、多选题</h3>
    <ul>
        <label>1.用例的粒度分为以下哪三种。</label>
        <li>
            <input name="multiple_choice0" type="checkbox" value="A"/>
            <label>（A）概述级</label>
        </li>
        <li>
            <input name="multiple_choice0" type="checkbox" value="B"/>
            <label>（B）需求级</label>
        </li>
        <li>
            <input name="multiple_choice0" type="checkbox" value="C"/>
            <label>（C）用户目标级</label>
        </li>
        <li>
            <input name="multiple_choice0" type="checkbox" value="D"/>
            <label>（D）子功能级</label>
        </li>
    </ul>

    <ul>
        <label>2.类图由以下哪三部分组成</label>
        <li>
            <input name="multiple_choice1" type="checkbox" value="A"/>
            <label>（A）名称(Name)</label>
        </li>
        <li>
            <input name="multiple_choice1" type="checkbox" value="B"/>
            <label>（B）属性(Attribute)</label>
        </li>
        <li>
            <input name="multiple_choice1" type="checkbox" value="C"/>
            <label>（C）操作(Operation)</label>
        </li>
        <li>
            <input name="multiple_choice1" type="checkbox" value="D"/>
            <label>（D）方法（Function）</label>
        </li>
    </ul>

</section>