<section class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">五、简 答 题</h3>
    </div>

    <div class="panel-body row">

        <ol>

            <% topics.forEach(function(topic, i) { %>
            <li>
                <div class="form-group">

                    <label class="control-label"><%= topic.question %></label>

                    <textarea class="form-control" name="short_answer<%= i %>" cols="50"
                              rows="10"><%= topic.value %></textarea>

                </div>

            </li>
            <% }); %>

        </ol>

    </div>
</section>