<section>
    <h3>五、简 答 题</h3>
    <ul>
        <li>
            <label>1. 简述什么是模型以及模型的表现形式?</label><br/>
            <textarea name="simple_answer0" cols="30" rows="10"></textarea>
        </li>
    </ul>
</section>