<section>
    <h3>五、简 答 题</h3>
    <ul>

        <% topics.forEach(function(topic,i) { %>
        <li>
            <label><%= i+1 %>.<%= topic.question %></label><br/>
            <textarea name="simple_answer<%= i %>" cols="30" rows="10"></textarea>
        </li>
        <% }); %>

    </ul>
</section>